// ----------------------------------------------------------------------

  // Search

// ----------------------------------------------------------------------

////
/// @author Hemerson Vianna
/// @group components
///

/// Search
.formSearch {
  float: left;

  .form-group { position: relative; }
}

.formSearch-field {
  @include x-rem-fallback(font-size, 1.2);
  background: #f5f8fa;
  border: 1px solid #e1e8ed;
  border-radius: 30px;
  color: $color-typography--dark;
  height: 32px;
  line-height: 1.2;
  padding: 7px 26px 7px 15px;
  width: 220px;

  &:focus { background: #fff; }
}

.formSearch-action {
  background: none;
  border: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 2px;
  width: 26px;
}

.formSearch-action-icon { fill: $color-typography--dark; }
