// ----------------------------------------------------------------------

  // Header structure

// ----------------------------------------------------------------------

////
/// @author Hemerson Vianna
/// @group components
///

/// Header structure
.header {}

.globalNav {
  @include x-clearfix;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  height: 46px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.globalNav-actions {
  display: none;

  @media(min-width:$screen-desktop) {
    display: block;
    float: right;
    margin-top: 7px;
    padding-right: 5px;
  }
}

.globalNav-support { float: right; }

.globalImages {
  max-height: 320px;
  overflow: hidden;
}

.globalProfile {
  display: none;

  @media(min-width:$screen-desktop) {
    background: #fff;
    border-bottom: 1px solid #e1e8ed;
    display: block;
    width: 100%;
  }
}
