// ----------------------------------------------------------------------

  // ProfileCard

// ----------------------------------------------------------------------

////
/// @author Hemerson Vianna
/// @group components
///

/// Profile card
.profileCard {
  @include x-rem-fallback(font-size, 1.4);
  color: $color-typography--dark;
  padding-top: 10px;
  position: relative;

  @media(min-width:$screen-desktop) {
    padding: 30px 15px 0 15px;
  }
}

.profileCard-avatar {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: -80px;
  left: 15px;
  width: 80px;

  @media(min-width:$screen-desktop) {
    top: -180px;
    height: 200px;
    width: 200px;
  }
}

.profileCard-avatar-link,
.profileCard-avatar-image {
  display: inline-block;
  height: 70px;
  width: 70px;

  @media(min-width:$screen-desktop) {
    height: auto;
    width: auto;
  }
}

.profileCard-name {
  @include x-rem-fallback(font-size, 2.2);
  font-weight: 700;
  margin-bottom: 0;

  & > .profileCard-link { color: $color-typography--dark; }
}

.profileCard-name-verified { fill: $color-primary; }

.profileCard-username,
.profileCard-description,
.profileCard-country,
.profileCard-website,
.profileCard-joinDate { margin-bottom: 10px; }

.profileCard-description {
  & > a {
    color: $color-typography-link;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

.profileCard-username {
  color: $color-typography;

  & > .profileCard-link { color: $color-typography; }
}

.profileCard-website {
  color: $color-typography-link;

  & > .profileCard-link { color: $color-typography-link; }
}

.profileCard-NewTweet {
  display: none;

  @media(min-width:$screen-desktop) {
    display: block;
  }
}
.profileCard-NewTweet-button {
  @extend %button-default;
  width: 100%;
}

.profileCard-NewTweet-button-icon {
  fill: #fff;
  float: left;
  margin-right: 4px;
}

.profileCard-NewTweet-button-text {
  font-weight: 700;
  line-height: 24px;
}

.profileCard-link {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.profileCard-icon {
  float: left;
  fill: $color-typography--lighter;
  margin-right: 5px;
}
